### 모델 / 가중치 ###
*.pt
*.pth
*.weights
*.h5
*.onnx
*.pb

### 환경 변수 ###
.env

### 데이터 ###
data/
runs/

### Python ###
__pycache__/
*.py[cod]
*$py.class

### 가상환경 ###
.venv/
venv/
env/
ENV/

### 빌드 / 패키지 ###
build/
dist/
*.egg-info/

### IDE ###
.vscode/
.idea/

### OS ###
.DS_Store
Thumbs.db

### 기타 ###
*.zip
*.tar.gz
*.rar
*.avi